.main-header {
  background-color: var(--background-tertiary-color);
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 38px 48px;
  position: relative; 
}

.navigation-menu {
  margin-top: 24px;
}

.navigation-menu label img {
  width: 24px;
}

input[type="checkbox"]:checked ~ nav {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--background-tertiary-color);
  width: 100%; 
}

nav {
  display: none;
}

.logo {
  display: inline-block; 
}
.img-mobile {
  display: block;
  width: 62px; 
}
.img-desktop {
  display: none;
}


.list-links {
  list-style: none;
}
.list-links li {
  margin: 22px 0 16px 38px;
}
.list-links li a {
  color: var(--text-tertiary-color);
  text-decoration: none;
  font-weight: var(--menu-text-weight);
  font-size: 24px;
  line-height: 1;
}
.list-links li a.active {
  text-decoration: underline;
}
@media screen and (min-width: 768px) {
  .navigation-menu {
    margin-top: 0;
    width: 468px;
  }
  .navigation-menu label {
    display: none;
  }
  .navigation-menu nav {
    display: block;
  }
  .navigation-menu ul {
    display: flex;
    justify-content: space-between;
    gap: 40px;
  }
  .list-links li {
    margin: 18px 0 0 0;
  }
}

@media screen and (min-width: 1024px) {
 
  .img-mobile{
    display: none;
  }
  .img-desktop{
    display: block;
    width: 260px;
    height: 64px; 
  } 
  .main-header{
    padding: 38px 120px;
  }
  .list-links li a:hover {
    color: var(--primary-color);
  }
}
